* {
    font-family: 'Akshar', sans-serif;
    margin: 0;


}

section {
    display: flex;
}

nav {
    display: flex;
    margin-top: 0px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;


}

nav ul li {
    margin-top: 5px;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;

    justify-content: space-between;
    padding-right: 5px;
    margin-top: 100px;
    margin-right: 5px;
}

.nav_img {
    width: 20%;

    margin-right: 300px;
}

nav ul li {
    display: inline-block;
    list-style: none;

}

.landing {
    background-color: rgb(18, 15, 53);
}

.landing_text {
    color: white;
    width: 50%;
    padding: 130px 10px 5px 80px;
}

.text_space {
    margin: 10px;
}

.landing_text button {
    background-color: brown;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;

}

.landing_text button a {
    color: white;
    text-decoration: none;
}

.landing_img {
    width: 50%;

}

.landing_2nd_img {
    width: 50%;
}

.landing_2nd_img img {
    width: 40%;
    padding-left: 130px;
}

.landing_text2 {

    width: 50%;
    padding: 100px 50px 5px 30px;
}

.skill {
    background-color: rgb(178, 198, 198);
    display: flex;
    margin-top: 0px;
}

.skill_img {
    width: 20%;
    padding: 5px;
    margin: 0px;
}